<footer id="mainfooter">
    <div id="mainfooter-somestuff">
        <img class="homefooter-image" decoding="async" src="{{ 'backend/assets/icons/epiroc-logo-yellow-icon-nobg.png' | relative_url }}" alt="Best Company Logo" />
        <p class="home">Fast, effective, safe.</p>
    </div>
    <nav id="mainfooter-redirects">
        <a href="{{ '/home' | relative_url }}">Home</a>
        <a href="{{ '/about' | relative_url }}">About Company</a>
        <a href="{{ '/safety' | relative_url }}">Safety</a>
        <a href="{{ '/digital' | relative_url }}">Digital</a>
        <a href="{{ '/technology' | relative_url }}">Technology</a>
        <a href="{{ '/ukraine' | relative_url }}">Epiroc at Ukraine</a>
        <a href="{{ '/verify-work' | relative_url }}">Verify Work</a>
    </div>
</footer>
<link rel="stylesheet" href="{{ 'inclds/header/main.css' | relative_url }}">