<div id="mainfooter">
    <div class="title">
        <div class="epirocsocials">
            <p class="title">Follow Epiroc on socials</p>
            <a href="https://www.facebook.com/epirocgroup/">Facebook</a>
            <a href="https://www.linkedin.com/company/epiroc">LinkedIn</a>
            <a href="https://www.instagram.com/epirocgroup">Instagram</a>
        </div>
        <div class="devsocials">
            <p class="title">Follow developer on socials</p>
            <a href="https://github.com/catosoriginal">Github</a>
            <a href="https://github.com/catosoriginal/epiroc-safety">Github Project</a>
        </div>
    </div>
</div>
<style>
    #mainfooter {
        max-width: 100%;
        width: 100%;
        height: fit-content;
        background-color: rgb(255, 255, 255);
    }
    #mainfooter .title {
        background-color: rgb(255, 199, 43);
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    #mainfooter .title .epirocsocials,
    #mainfooter .title .devsocials {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex: 1;
        align-items: center;
    }
    #mainfooter .title .epirocsocials p,
    #mainfooter .title .devsocials p {
        color: rgb(67, 86, 99);
    }
    #mainfooter .title .epirocsocials a, 
    #mainfooter .title .devsocials a {
        color: rgb(72, 101, 115);
        text-decoration: none;
    }
</style>