<footer id="mainfooter">
    <div id="mainfooter-somestuff">
        <img class="homefooter-image" decoding="async" src="{{ 'backend/assets/icons/epiroc-logo-yellow-icon-nobg.png' | relative_url }}" alt="Best Company Logo" />
        <p class="home">Fast, effective, safe.</p>
    </div>
    <nav id="mainfooter-redirects">
        <a href="{{ 'home' | relative_url }}">Головна</a>
        <a href="{{ 'safety' | relative_url }}">Безпека</a>
        <a href="{{ 'idontknow' | relative_url }}">Щось</a>
    </nav>
</footer>
<link rel="stylesheet" href="{{ '/backend/assets/includes/header/header.css' | relative_url }}">