---
---

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link rel="icon" href="{{ page.icon }}" type="image/x-icon">
        <noscript>You need to enable javascript to use this website!</noscript>
    </head>
    <body>
        {% include header.html %}
        {% if content %}
          {{ content }}
        {% endif %}
    </body>
</html>